body{
    margin: 0;
    padding: 0;
}
.centered{
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 35px;
}

#greetings{
    text-align: center;
    color: rgb(7, 93, 206);
}

.command{
    text-align: center;
    font-size: 20px;
    color: rgb(7, 93, 206);
}